%h4 Mission Vote

- if @game.double_fail_round?
  %h5 Need 2 fails to fails
- else
  %h5 Need 1 fail to fail

%ul.player_list
  - @team_players.each do |player|
    - is_this_player = player.auth_hash == session[:auth]
    %li.player_item
      - if @round.leader == player
        &#9733;
      - if is_this_player
        %strong= player.name
      - else
        = player.name
        
%h5 Not in vote
%ul.player_list
  - @players.reject{ |p| @team_players.include? p }.each do |player|
    - is_this_player = player.auth_hash == session[:auth]
    %li.player_item
      - if @round.leader == player
        &#9733;
      - if is_this_player
        %strong= player.name
      - else
        = player.name
        
.vote_count
  Votes:
  %span.total_votes= @round.total_mission_votes 
  \/
  = @team_players.count
  
- if !@round.who_voted.include?( current_player.id ) && @team_players.include?( current_player )
  .vote_options
    = link_to "Pass", submit_mission_vote_path( :id => @game.id, :vote => "pass" ), :remote => true, :class => "submit_mission_vote_link btn btn-primary"
    = link_to "Fail", submit_mission_vote_path( :id => @game.id, :vote => "fail" ), :remote => true, :class => "submit_mission_vote_link btn btn-danger"
