%h3= "#{@game.name}: round #{@game.round_num} state: #{@game.state}"

= render :partial => "game_state_#{@game.state}"
          
= subscribe_to "/game/#{@game.id}"
= subscribe_to "/game/player/#{current_player.id}"
  

      